:root {
	--mainBlue: #549FF7;
  --darkBlue: #3D7AC1;
  --hoverBlue: #3986DF;
  --tableWidth: 90%;
}

html, body, #root {
    height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn-primary {
	border: 0px;
	background-color: var(--mainBlue);
}

.btn-primary:hover {
	border: 0px;
	background-color: var(--hoverBlue);
}

.btn.btn-success {
  background-color: white;
  color: var(--mainBlue);
  border-color: var(--mainBlue);
}

.btn.btn-success:hover,
.btn.btn-success:active {
  background-color: #eee;
  color: var(--hoverBlue);
  border-color: var(--hoverBlue);
}

h1 {
	color: var(--mainBlue);
  margin-top: 0px;
  margin-bottom: 0px;
}

.row {
  height: 65px;
}

.row.heading-row {
    height: 15px;
}

.row.row-auto-resize {
  height: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-fill {
  flex-grow: 1;
}

.flex-v-center {
  align-items: center;
}

.flex-h-center {
  justify-content: center;
}

.full-height {
  height: 100%;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.glyphicon {
    font-size: 13px;
}

.Spacer {
  margin: 8px;
}

.titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 20px;
  margin-left: 3rem;
  margin-right: 3rem;
}

.titleBar .filler {
  flex-grow: 1;
}

.backButton {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
  margin-top: 30px;
}

hr {
  border-top: 2px solid #D7D6D7;
  margin-top: 10px;
  margin-bottom: 0;
}