.accountForm .initialBalanceTextField {
	max-width: 8em;
}

.accountForm .account-form-checkbox {
	height: 25px;
	width: 25px;
}

.accountForm .textBox {
	max-width: 36em;
}

.accountForm .backButton {
	margin-left: 65px;
}

.accountForm input.currency {
    text-align: right;
}
