.accounts .accountNumber{
	min-width: 8rem;
}

.accounts .name {
    width: auto;
}

.accounts .type {
    min-width: 9rem;
}

.accounts .subtype {
    min-width: 8rem;
}

.accounts .term {
    min-width: 9rem;
}

.accounts .comments {
    min-width: 1rem;
}

.accounts .edits{
	min-width: 4rem;
}