.newButton {
	margin-left: 20px;
	margin-right: 20px;
}

.search {
	width: 8em;
	border-bottom-right-radius:0px;
	border-top-right-radius:0px;
}

.searchContainer {
	display: flex;
	flex-direction: row;
	float: right;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
  }

.tableWrapper {
	width: var(--tableWidth);
	margin: auto;
}

.tableWrapper table > thead > tr > th {
	white-space: nowrap;
}
