.generalJournal .journal-filters {
	margin-top: 15px;
	margin-bottom: 15px;
}

.date-left-margin {
	margin-left: 0.25em;
}

.generalJournal .new-transaction-wrapper {
	margin-bottom: 1em;
}

.generalJournal .pad {
	padding: 1em;
}

.topOfEntryWrapper {
	margin-top: 10px;
}

.bottomOfEntryWrapper {
	overflow: hidden;
}

.actionButtonsWrapper {
	justify-content: center;
	align-items: center;
}

.cancelButton {
	background-color: white;
	color: var(--mainBlue);
	border-color: var(--mainBlue);
	margin-right: 20px;
}

.cancelButton:hover{
	color: var(--hoverBlue);
	border-color: var(--hoverBlue);
}

.submitButton {
	width: 130px;
}