.generalJournal .journal-filters {
	margin-top: 15px;
	margin-bottom: 15px;
}

.date-left-margin {
	margin-left: 0.25em;
}

.generalJournal .new-transaction-wrapper {
	margin-bottom: 1em;
}

.generalJournal .pad {
	padding: 1em;
}