.journalEntry:hover {
	background-color: #F6F6F6;
}

.journalEntry {
	padding: 15px 0 5px 0;
}

.journalEntry:not(:last-of-type) {
	border-bottom: 2px solid #EAEAEA;
}

.journalEntry .journalInfoWrapper {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.journalEntry .journalInfoWrapper > *:not(:first-child) {
	margin-left: 10px;
}

.journalEntry .circle {
    height:13px;
    width:13px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

.journalEntry .rejectedCircle {
	background-color: #D0011B;
    border:1px solid #AD0A0A;  
}

.journalEntry .approvedCircle {
	background-color: #7ED321;
    border:1px solid #679C2D;  
}

.journalEntry .pendingCircle {
	background-color: #F6A623;
    border:1px solid #C58419;  
}

.journalEntry .memoForm {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.creditAccountEntry {
	margin-left: 40px;
}

.description {
	font-weight: 300;
}

.journalEntry .descriptionWrapperWrapper {
	margin-top: 5px;
}

.journalEntry .amountEntry {
	display: flex;
	direction: row;
	font-weight: 300;
}

.journalEntry .actionButtonsWrapper {
	margin-bottom: 5px;
}

.journalEntry .actionButtonsWrapper button,
.journalEntry .memoForm button {
	width: 130px;
	margin-right: 20px;
}

.journalEntry .amountEntryValue {
	text-align: right;
	width: 80px;
}

.accountName {
	font-weight: bold;
	height: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.journalEntry .transactionWrapper {
	margin-bottom: 5px;
}

.journalEntry .accountNameWrapper {
	display: flex;
	flex-direction: row;
}

.journalEntry .attachment-name-overflow {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.journalEntry .attachment-name-overflow a {
	width: 400px;
}

.journalEntry .typeEntry {
	font-weight: 300;
	color: #686868;
}