.journalEntryCreate {
	background-color: #F6F6F6;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.journalEntryCreate .pad-file-input {
	padding: 0.5em 0.5em 1em 0.5em;
}

.journalEntryCreate .accountEntryDropdown {
	margin-right: 10px;
	width: 50%;
	height: 30px;
}

.journalEntryCreate .creditAccountEntryDropdown {
	margin-left: 10%;
}

.journalEntryCreate .entryAmount {
	width: 90px;
	margin-bottom: 8px;
	height: 30px;
	text-align:right;
	margin-left: 10px;
}

.journalEntryCreate .entryAmountWrapper {
	display: flex;
	flex-direction: row;
}

.journalEntryCreate .dollarSign {
	line-height: 30px;
}

.journalEntryCreate .description {
	resize: none;
}

.journalEntryCreate .descriptionWrapper {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;
	height: 100px;
}

.journalEntryCreate .textButton {
	color: var(--mainBlue);
	background:none;
    border:none;
    padding:0;
    text-align: left;
}

.journalEntryCreate .textButton:hover {
	color: var(--hoverBlue);
}

.journalEntryCreate .fileInput {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -8px;
}

.journalEntryCreate .typeSelect {
	margin-top: 10px;
}

.journalEntryCreate .debitCreditNotEqualWarning {
	color: red;
	margin-right: 18px;
}